{% extends 'index.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    {{ data['title'] }}
    {{ data['description'] }}
    {{ data['price'] }}
    <h1>Products</h1>
{% endblock %}
